/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  padding: 0;
  margin: 0;
  background-color: #283351;
  color: white;
  
}

main {
  display: flex;
  justify-content: center;
  
}

h1 {
  text-align: center;
  padding-bottom: 25px;
  
}

.js-template {
  background: green;
  height: 400px;
  width: 300px;
}

form {
  display: grid;
  margin: 10%;
}

.button-container {
  text-align: center; 
}

.container {
  border-style: double;
  border-color: black;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 85%;
  height: 375px;  
}

@media all and (min-width: 900px){

  main {
    font-size: 24px;
  }

  h1 {
    font-size: 48px;
    margin-top: 5%;
  }

  .container { 
    height: 500px; 
    border-width: 5px;
  }

}