/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

.js-template {
  background: green;
  height: 400px;
  width: 300px;
}

.button-wrap {
  display: flex;
  justify-content: center;
  
}

.question {
  text-align: center;
}